name: Flutter CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable

    - name: Install dependencies
      run: flutter pub get

    - name: Give permission to test files
      run: chmod +x tests/*.sh

    - name: Run Smoke Test
      run: ./tests/smoke.sh

    - name: Run Login Test
      run: ./tests/login_test.sh

    - name: Build APK (optional)
      run: flutter build apk --release
